@import url('https://fonts.googleapis.com/css?family=Asset|Walter+Turncoat');

/*
font-family: 'Walter Turncoat', cursive;
font-family: 'Asset', cursive;
*/

html {
	font-size: 62.5%;
	color: #eaf3ff;
	background-color: #033076;
}

a {
	color: #eaf3ff;
}

a:hover {
	color: #ffffcc;
}

a:visited {
	color: #eaf3ff;
}

#header-text {
	position: fixed;
	top: 0;
	left: 0;
	font-family: 'Asset', serif;
}

#wheels {
  position: absolute;
  left: -40px;
  top: -18px;
  width: 1063px;
  font-size: 84px;
  font-size: 8.4rem;
  letter-spacing: 40px;
}

#within-wheels {
	position: absolute;
  top: -3px;
  left: 980px;
  font-size: 26px;
  font-size: 2.6rem;
  text-align: center;
  letter-spacing: 11px;
  line-height: 40px;
}

#wheels p, #within-wheels p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

#welcome {
  top: 80px;
  position: fixed;
  font-family: 'Walter Turncoat';
  font-size: 18px;
  font-size: 1.8rem;
}

#main-text-container {
	top: 105px;
	position: fixed;
	width: 100%;
}

#main-text {
  overflow-y: scroll;
  max-height: 570px;
  margin: 0 auto;
  min-width: 200px;
  width: 40%;
  font-family: 'Walter Turncoat';
  font-size: 24px;
  font-size: 2.4rem;
}

.flash {
	color: #ffeaf3;
	font-size: 18px;
	font-size: 1.8rem;
}

.entry-header {
	font-size: 48px;
	font-size: 4.8rem;
  margin: 0 auto;
/*	width: 40%;*/
}

.entry-header-text {
  margin: 0 auto;
}

.login-pointer {
  margin-right: 40px;
}

.signup-pointer {
  margin-left: 40px;
}

.entry-header-pointer {
  margin-right: 0;
}

.entry-alternative a {
	text-decoration: none;
}
/*
.entry-alternative a:hover {
	color: #ffffff;
}

.entry-alternative a:visited {
	color: #eaf3ff;
}
*/
.basic-form {
  width: 900px; 
  overflow: hidden;
  padding-left: 0;
}
 
.basic-form li {
  list-style: none; 
  padding-bottom: 20px;
}

label {
  display: block; 
  padding-bottom: 5px; 
  margin-top: 20px;
}

.fieldbox {
	background-color: rgba(3, 48, 118, 0);
	border-width: 0 0 medium;
	font-family: 'Walter Turncoat';
	color: #eaf3ff;
	font-size: 36px;
	font-size: 3.6rem;
	width: 50%;
}

textarea {
	width: 50%;
	background-color: transparent;
	font-family: 'Walter Turncoat';
	color: #eaf3ff;
	font-size: 12px;
	font-size: 1.2rem;
}

.entry-submit-margin {
  margin: 0 auto;
  width: 40%;
}

.entry-submit {
  border-width: 0;
  background-color: transparent;
  color: #eaf3ff;
  font-size: 36px;
  font-size: 3.6rem;
  font-family: 'Walter Turncoat';
  cursor: pointer;
}

.crudapp-header {
	font-size: 48px;
	font-size: 4.8rem;
  margin: 0 auto;
/*	width: 40%;*/
}

#create-link {
	margin-bottom: 10px;
}

.creator-index {
	font-size: 18px;
	font-size: 1.8rem
}

.download-link {
	font-size: 18px;
	font-size: 1.8rem;
}

.crudapp-description {
	margin-bottom: 10px;
}

select {
  font-family: 'Walter Turncoat';
  font-size: 18px;
  font-size: 1.8rem;
}

.back-to-index {
	font-size: 24px;
	font-size: 2.4rem;
	margin-bottom: 5px;
}

.back-to-index a {
	text-decoration: none;
}

.left-nav {
	float: left;
}

.delete-form {
	font-size: 24px;
	font-size: 2.4rem;
}

.delete-form::after {
	clear: both;
}

.delete-button {
  border-width: 0;
  padding: 0;
  background-color: transparent;
  color: #eaf3ff;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'Walter Turncoat';	
  cursor: pointer;
}

#test-box {
	background-color: beige;
	border: 1px solid red;
	width: 2300px;
	height: 1500px;
}