<div class="entry-header">let's make a crud app.</div>
<form method="post" action="/crudapps">
  <ul class="basic-form">
    <li>
      <label for="crudapp[title]">Application title</label>
      <input class="fieldbox" type="text" name="crudapp[title]">
    </li>
    <li>
      <label for="crudapp[description]">Description</label>
      <textarea name="crudapp[description]"></textarea>
    </li>
    <li>
      <label for="crudapp[model]">Item name</label>
      <input class="fieldbox" type="text" name="crudapp[model]" placeholder="Book? Song? Blog post?">
    </li>
    <li>
      <label for="columns[][key_name]">First attribute name</label>
      <input class="fieldbox" type="text" name="columns[][key_name]">
    </li>
    <li>
      <label for="columns[][data_type]">First attribute data type</label>
      <select name="columns[][data_type]">
        <option value="String" selected>String</option> 
        <option value="Number">Number</option>
        <option value="Date">Date</option>
        <option value="Boolean">Boolean</option>
      </select>
    </li>
    <li>
      <label for="columns[][key_name]">Second attribute name</label>
      <input class="fieldbox" type="text" name="columns[][key_name]">
    </li>
    <li>
      <label for="columns[][data_type]">Second attribute data type</label>
      <select name="columns[][data_type]">
        <option value="String" selected>String</option> 
        <option value="Number">Number</option>
        <option value="Date">Date</option>
        <option value="Boolean">Boolean</option>
      </select>
    </li>
    <li>
      <label for="columns[][key_name]">Third attribute name</label>
      <input class="fieldbox" type="text" name="columns[][key_name]">
    </li>
    <li>
      <label for="columns[][data_type]">Third attribute data type</label>
      <select name="columns[][data_type]">
        <option value="String" selected>String</option> 
        <option value="Number">Number</option>
        <option value="Date">Date</option>
        <option value="Boolean">Boolean</option>
      </select>
    </li>
  </ul>
  <div class="entry-submit-margin">
    <input class="entry-submit" type="submit" value="submit">
  </div>
</form>
