<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<title>Wheels Within Wheels</title>
</head>
<body>
  <header id="header-text">
		<div id="wheels"><p>WHEELS</p></div>
		<div id="within-wheels"><p>WITHIN WHEELS</p></div>
		<div id="welcome">
			<% if logged_in? %>
			  welcome, <%= current_user.username %>&nbsp;|&nbsp;<a href="/logout">log out</a>
		  <% else %>
		    <a href="/login">log in</a>
		  <% end %>
		</div>
  </header>
  <div id="main-text-container">
  	<div id="main-text">
			<%= yield %>
		</div>
	</div>
</body>
</html>