<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<title>Wheels Within Wheels</title>
</head>
<body>
  <header id="header-text">
		<div id="wheels"><p>WHEELS</p></div>
		<div id="within-wheels"><p>WITHIN WHEELS</p></div>
  </header>
  <div id="main-text">
		<%= yield %>
	</div>
</body>
</html>