<table class="table itemtable">
    <tr>
        <td><h3>Details for {{item.title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{item.title}}</td>
    </tr>
    <tr>
        <td>attr01</td>
        <td>{{item.attr01}}</td>
    </tr>
    <tr>
        <td>attr02</td>
        <td>{{item.attr02}}</td>
    </tr>
    <tr>
        <td>attr03</td>
        <td>{{item.attr03}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editItem({id:item._id})">Edit</a>
</div>